[Unit]
Description=gastrak refresh

[Service]
Type=oneshot
User=gastrak
Group=gastrak
ExecStart=/home/gastrak/gastrak/gastrak/run-gastrak.sh
Environment="ENABLE_GIT=1"
