{% if enable_ssl %}

# redirect all subdomains to https
<VirtualHost *:80>
        ServerName {{ fqdn }}
        ServerAlias *.{{ fqdn }}
        <Location "/">
                Redirect permanent https://%{HTTP_HOST}%{REQUEST_URI}
        </Location>
</VirtualHost>

{% endif %}

# 404 for unknown subdomains
<VirtualHost *:*>
        Redirect 404 /

        Include /etc/apache2/letsencrypt.conf
</VirtualHost>
