<VirtualHost *:443>
        ServerName clips.{{ fqdn }}

        ProxyPreserveHost On
        ProxyPass "/" "http://127.0.0.1:1837/"
        ProxyPassReverse "/" "http://127.0.0.1:1837/"

        SSLCertificateFile /etc/letsencrypt/live/{{ fqdn }}/fullchain.pem
        SSLCertificateKeyFile /etc/letsencrypt/live/{{ fqdn }}/privkey.pem
        Include /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>
