<VirtualHost *:*>
        ServerName gastrak.{{ fqdn }}

        ProxyPreserveHost On
        ProxyPass "/" "http://127.0.0.1:8086/"
        ProxyPassReverse "/" "http://127.0.0.1:8086/"

        Include /etc/apache2/letsencrypt.conf
</VirtualHost>
