<VirtualHost *:*>
        ServerName nitter.{{ fqdn }}

        ProxyPreserveHost On
        ProxyPass "/" "http://127.0.0.1:8389/" nocanon
        ProxyPassReverse "/" "http://127.0.0.1:8389/"
        AllowEncodedSlashes On

        Include /etc/apache2/letsencrypt.conf
</VirtualHost>
