<VirtualHost *:*>
        ServerName invidious.{{ fqdn }}

        ProxyPreserveHost On
        ProxyPass "/" "http://127.0.0.1:8720/" nocanon
        ProxyPassReverse "/" "http://127.0.0.1:8720/"
        AllowEncodedSlashes On

        Include /etc/letsencrypt/options-ssl-apache.conf
</VirtualHost>
