<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ hostname }}</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: sans-serif;
            font-size: x-large;
        }

        #wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100%;
        }

        #content {
            padding: 16px;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="content">
            <a href="//fish.{{ fqdn }}/">fish (file upload service)</a><br>
            <a href="//clips.{{ fqdn }}/">clips (web pasteboard)</a><br>
            <a href="//gastrak.{{ fqdn }}/">gastrak (costco gasoline prices)</a><br>
            <a href="//nitter.{{ fqdn }}/">nitter (twitter frontend)</a><br>
            <a href="//invidious.{{ fqdn }}/">invidious (youtube frontend)</a><br>
        </div>
    </div>
</body>
</html>
